<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218477214029-o4fu36qih39ktorqn1te18k25c0ouka8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218477214029-o4fu36qih39ktorqn1te18k25c0ouka8</string>
	<key>API_KEY</key>
	<string>AIzaSyDYag4vsZbjkZ6XTS3-y_9LOUrD-3G3RxA</string>
	<key>GCM_SENDER_ID</key>
	<string>218477214029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportify</string>
	<key>PROJECT_ID</key>
	<string>sportify-ab845</string>
	<key>STORAGE_BUCKET</key>
	<string>sportify-ab845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218477214029:ios:6f80d2120c1f243a1f1f04</string>
</dict>
</plist>